input::placeholder, textarea::placeholder {
    color: #AAAAAA;
}

img {
    height: 150px;
    aspect-ratio: 1;
    margin-top: 10px;
    object-fit: cover;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input[type="file"] {
    display: none;
}

input[type="color"]:hover {
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
}

input[type="color"] {
    padding: 0;
    overflow: hidden;
    border: 0;
}

input[type="color"] {
    cursor: pointer;
}

input[type="submit"], input[type="color"] {
    width: 100%;
    display: flex;
    justify-content: center;
}

input[type="submit"]:hover:not([disabled]) {
    background-color: #F20732;
    color: #FFFFFF;
    cursor: pointer;
}

.button:hover {
    background-color: #F20732;
    color: #FFFFFF;
}

.error {
    display: flex;
    height: 30px;
    width: calc(100% - 10px * 2);
    border-radius: 100px;
    padding: 0 10px 0 10px;
    font-size: 16px;
    outline: none;
    font-family: inherit;
    cursor: default;
    border-color: #F20732;
    border-width: 1px;
    border-style: solid;
    align-items: center;
    color: #F20732;
    justify-content: center;
    background-color: #F2073240;
}

input, .input, select {
    display: flex;
    height: 30px;
    width: calc(100% - 10px * 2);
    border-radius: 100px;
    padding: 0 10px 0 10px;
    font-size: 16px;
    background-color: #E1EDFF;
    border: 0;
    outline: none;
    font-family: inherit;
}

select {
    width: 100%;
    padding: 0 6px;
}

.input {
    color: #000000;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

textarea {
    display: flex;
    height: 100px;
    width: calc(100% - 10px * 2);
    max-width: calc(100% - 10px * 2);
    min-width: calc(100% - 10px * 2);
    border-radius: 15px 15px 0 15px;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    background-color: #E1EDFF;
    border: 0;
    outline: none;
    font-family: inherit;
}

input:focus, textarea {
    border: 0;
}

.inputContainer {
    margin: 10px 0 10px 0;
    padding: 0 50px 0 50px;
    flex-direction: column;
    align-items: flex-start;
}

.textLabel {
    flex: 1;
    display: flex;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-bottom: 1px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.check-box:focus {
    border-color: #F20732;
}

.check-box.active {
    border-color: #F20732;
    background-color: #F20732;
    color: #FFFFFF;
}

.check-box.active:hover:not([disabled]) {
    border-color: #999999;
    background-color: #F20732;
    color: #999999;
}

.check-box.inactive {
    border-color: #999999;
    background-color: #161616;
    color: #999999;
}

.inactive, .check-box.inactive:hover:not([disabled]) {
    border-color: #F20732;
    background-color: #161616;
    color: #FFFFFF;
}

input[type="button"].active, input[type="button"]:hover:not([disabled]), input[type="button"].endInput:hover {
    background-color: #F20732;
    color: #FFFFFF;
}

input[type="button"] {
    height: 30px;
    font-size: 16px;
    background-color: #161616;
    color: #999999;
    cursor: pointer;
    border-radius: 0;
}

input[type="button"].check-box:disabled {
    cursor: default;
    opacity: 1;
}

input[type="button"].check-box {
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
}

input[type="button"].endInput {
    width: auto;
    height: 30px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    border-style: solid;
    border-color: #E1EDFF;
    border-width: 0;
    background-color: #F20732;
}

.endInput {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 2px;
}

.startInput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.languages {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-style: solid;
    border-color: #999999;
    border-radius: 5px;
    margin-right: 5px;
}

input:disabled, textarea:disabled, select:disabled {
    background-color: #161616;
    color: #FFFFFF;
    opacity: 1;
}